@tailwind base;
@tailwind components;
@tailwind utilities;

.inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.martian-mono-300 {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.martian-mono-100 {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.martian-mono-200 {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bg-selector-icon {
  background-image: url('selector_icon.png');
}

.mt-auto {
    margin-top: auto;
}

.animate-slow-ping {
    animation: slow-ping 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation-delay: 1s;
}

@keyframes slow-ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-fast-pulse {
    animation: fast-pulse 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    animation-delay: -500ms;
}

@keyframes fast-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-avg-ping {
    animation: slow-ping 1.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation-delay: 0.55s;
}

@keyframes avg-ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-avg-pulse {
    animation: avg-pulse 1.7s cubic-bezier(0, 0, 0.2, 1) infinite;
    /* animation-delay: -500ms; */
}

@keyframes avg-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-modified-ping {
    animation: modified-ping 1.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation-delay: 0.55s;
}

@keyframes modified-ping {

    0% {
        transform: scale(1);
      }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }


}